* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
	outline: none;
}
a,h1,h2,h3,h4,h5,h6,label,li,object,ol,
p,span,tbody,td,th,tr,ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    
}
img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

/*------------------------------------------------R E S P O N S I V E------------------------------------------------*/
@media only screen and ( max-width: 1920px) {}
@media only screen and ( max-width: 1439px) {}
@media only screen and ( max-width: 1201px) {}
@media only screen and ( max-width: 1025px) {}
/* ----------------------------------------CAMBIO------------------------------ */
@media only screen and ( max-width: 801px) {}
/* ----------------------------------------CAMBIO DEL TAMAÑO DE FUENTES------------------------------ */
@media only screen and ( max-width: 680px) {}
@media only screen and ( max-width: 479px) {}
@media only screen and ( max-width: 380px) {}
@media only screen and ( max-width: 320px) {}
