@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}

.robotoB {
  font-family: Roboto-Bold;
}

.robotoR {
  font-family: Roboto-Regular;
}

.robotoCB {
  font-family: RobotoCondensed-Bold;
}

.robotoCR {
  font-family: RobotoCondensed-Regular;
}

.fs14 {
  font-size: 14px;
}

.fs22 {
  font-size: 22px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.white {
  color: #fff;
}

.green3A {
  color: #17713a;
}

.green56 {
  color: #15A556;
}

.gray70 {
  color: #707070
}

.green66 {
  color: #2FA766;
}

.green67 {
  color: #35A967;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

a, h1, h2, h3, h4, h5, h6, label, li, object, ol, p, span, tbody, td, th, tr, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*------------------------------------------------R E S P O N S I V E------------------------------------------------*/

@media only screen and ( min-width: 1920px) {}

@media only screen and ( min-width: 1439px) {}

@media only screen and ( min-width: 1201px) {}

@media only screen and ( min-width: 1025px) {}

/* ----------------------------------------CAMBIO------------------------------ */

@media only screen and ( min-width: 801px) {}

/* ----------------------------------------CAMBIO DEL TAMAÑO DE FUENTES------------------------------ */

@media only screen and ( min-width: 680px) {}

@media only screen and ( min-width: 479px) {}

@media only screen and ( min-width: 380px) {}

@media only screen and ( min-width: 320px) {
  .c-top {
    width: 100%;
    background-image: url('../img/menu-responsive.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 5px 0px 30px 0px;
    z-index: 100;
    text-align: center;
  }
  .mdl-button {
    text-transform: none !important;
    font-size: 20px !important;
    font-family: Roboto-Bold;
    border-radius: 5px !important;
    padding: 0px 30px !important;
    height: 45px !important;
  }
  .mdl-button--raised {
    box-shadow: none !important;
  }
  .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.info-btn {
    background-color: #82CBD6 !important;
    color: #fff !important;
    width: 100%;
  }
  .mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.info-btn:hover {
    background-color: #fff !important;
    border: solid 3px #82CBD6 !important;
    color: #82CBD6 !important;
  }
  .mail-logo {
    width: 80%;
    margin: 0 auto;
  }
  .mail-logo img {
  width: 50%;
  }
  .c-info {
    width: 50%;
    margin: 15px auto 0px;
    align-items: center;
    text-align: center;
    padding-bottom: 175px;
  }
  .info {
    text-decoration: underline;
    cursor: pointer;
  }
  .c-main-gracias {
    width: 100%;
    background-image: url('../img/one-drive/agradecimiento/plantas-responsive.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 135% 100%;
    padding-top: 125px;
    text-align: center;
    background-position-y: 230px;
  }
  .c-img {
    width: 25%;
    margin: 0 auto 20px;
  }
  .c-img img {
    width: 100%;
  }
  .c-gracias-text1 {
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
  }
  .c-gracias-text2 {
    width: 80%;
    margin: 20px auto;
    line-height: 20px;
  }
  .c-button-gracias {
    width: 85%;
    margin: 0 auto;
  }
  .c-copyright {
    width: 100%;
    background: #2FA766;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }
}
