@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}

.robotoB {
  font-family: Roboto-Bold;
}

.robotoR {
  font-family: Roboto-Regular;
}

.robotoCB {
  font-family: RobotoCondensed-Bold;
}

.robotoCR {
  font-family: RobotoCondensed-Regular;
}

.fs14 {
  font-size: 14px;
}

.fs22 {
  font-size: 22px;
}

.fs28 {
  font-size: 28px;
}
.fs26 {
  font-size: 26px;
}
.fs24 {
  font-size: 24px;
}

.fs30 {
  font-size: 30px;
}
.fs48 {
  font-size: 48px;
}

.white {
  color: #fff;
}

.green3A {
  color: #17713a;
}

.green56 {
  color: #15A556;
}

.gray70 {
  color: #707070
}

.green66 {
  color: #2FA766;
}

.green67 {
  color: #35A967;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

a, h1, h2, h3, h4, h5, h6, label, li, object, ol, p, span, tbody, td, th, tr, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*------------------------------------------------R E S P O N S I V E------------------------------------------------*/

@media only screen and ( min-width: 320px) {
  header{
    text-align: center;
    padding: 20px 0px 40px;
    background-image: url('../img//pleca-desktop.svg');
    background-size: cover;
    background-position: center;
  }
  header img{
    width: 30%;
  }
  body{
    background-image: url(../img/plantas.svg);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  .checked{
    width: 25%;
    margin: 20px 0px;

  }
  .c-reg{
    margin-top: 50px;
  }
  .a-reg{
    background: #82CBD6;
    padding: 10px 150px;
    border-radius: 10px;
  }
  .c-more{
    margin-top: 30px;
  }
  .c-more a{
    text-decoration: underline;
  }
  .c-title{
    margin-top: 30px;
  }
  .c-title span{
    font-size: 80px!important;
  }
  .c-title p{
    margin-top: 10px;
    font-size: 30px!important;
    
  }
  .c-copyright {
    width: 100%;
    background: #2FA766;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    position: absolute;
    bottom: 0px;
}
}
@media only screen and ( min-width: 380px) {}
@media only screen and ( min-width: 480px) {
  .checked {
    width: 20%;
    margin: 0;
}
}
@media only screen and ( min-width: 680px) {
  .c-title span{
    font-size: 67px!important;
  }
  .checked {
    width: 10%;
}
}
/* ----------------------------------------CAMBIO DEL TAMAÑO DE FUENTES------------------------------ */
@media only screen and ( min-width: 800px) {
  header img {
    width: 20%;
}
}
/* ----------------------------------------CAMBIO------------------------------ */
@media only screen and ( min-width: 1024px) {}
@media only screen and ( min-width: 1200px) {
  header img {
    width: 15%;
}
body{
  background-size: 60%;
}
}
@media only screen and ( min-width: 1440px) {}
@media only screen and ( min-width: 1920px) {}
